
.card {
    position: relative;
    border-radius: 15px;
    margin: 20px 0px;
    background-color: white;
    color: rgb(126, 126, 126);
    padding: 40px 50px;
    box-shadow: 0px 2px 5px;

}

.num-display {
    display: flex;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(224, 222, 222);
    padding: 10px;
    border: 1px solid rgb(65, 63, 63);
    justify-content: center;
    align-items: center;
    


}
/* work on css for text overflow */
.text-display {
    display: block;
    align-self: center;
    justify-self: center;
    text-align: center;
}


.close{
    margin-left: auto;
    cursor: pointer;
    background: none;
    border: none;
    
}
/* Css for feedbackstat */
.Feedback-stat{
    display: flex;
    position: relative;
}
.average-rating{
    margin-left: auto;
}

/* css for header */
.header-text{
    text-align: center;
}


/* css for feedback create */
ul{
    list-style: none;
    
}

.rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin: 30px 0px 40px;
}
.rating li{
    margin-left: 35px;
    margin-bottom: 20px;
}

.rating li input{
    position: relative;
    
    

}
.rating li input:checked ~ label{
    background-color: blue;
    box-shadow: 0px 2px 5px;
}
.rating li label{
    position: absolute;
    background-color: black;
    padding: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;

}
.rating li label:hover{
    background-color: blue;
}
.FeedbackCreate{
   display: flex;
   flex-direction: column;
    align-items: center;
}

/* css for item */
.item-upper{
    display: flex;
    margin-bottom: 10px;
}
