
.card {
    position: relative;
    border-radius: 15px;
    margin: 20px 0px;
    background-color: white;
    color: rgb(126, 126, 126);
    padding: 40px 50px;
    box-shadow: 0px 2px 5px;

}

.num-display {
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(224, 222, 222);
    padding: 10px;
    border: 1px solid rgb(65, 63, 63);


}

.text-display {
    justify-content: center;
    align-self: center;
    text-align: center;
    


}


.close{
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}
/* Css for feedbackstat */
.Feedback-stat{
    display: flex;
    position: relative;
}
.average-rating{
    margin-left: auto;
}

/* css for header */
.header-text{
    text-align: center;
}


/* css for feedback create */
ul{
    list-style: none;
    
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px 40px;
}
.FeedbackCreate{
   display: block;
    place-items: center;
    justify-content: center;
}
